@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(94, 94, 114) rgb(35, 37, 40);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(35, 37, 40);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(94, 94, 114);

  border-radius: 20px;
}

body {
  background-color: rgb(15, 1, 1);
}
#app {
  @apply w-full max-w-[2400px] bg-gray-900 text-slate-300/80;
  margin: 0 auto;
}
.swiper-pagination-bullet-active {
  background-color: #20c44c !important;
}
.swiper-pagination-progressbar-fill {
  background-color: rgba(185, 35, 35, 0.815) !important;
}
