@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: rgb(15, 1, 1);
}
#app{
  @apply w-full max-w-[2400px] bg-base-100;
  margin: 0 auto;
}